.fifth-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-p {
    color: rgb(156, 105, 9);
    margin: 0;
}

.projects-p {
    font-size: 40px;
    margin: 0;
}

.project-div {
    width: 60%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.project {
    position: relative;
}

.project-image {
    width: 100%;
}

.project-info {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 20px;
    text-align: start;
    font-size: 16px;
}