.first-section {
    height: 100vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position {
    position: relative;
    width: 100%;
    height: 100vh;
}

.myimage {
    width: 100%;
    height: 100vh;
}

.heading1 {
    font-size: 60px;
    margin: 0;
}

.paragraph1 {
    font-size: 20px;
}

.button1 {
    background-color: rgb(73, 73, 233);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    transition: all 0.5s;
}

.menu-icon {
    width: 70px;
}

.button1:hover {
    transform: scale(1.2);
}

.display {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.menu {
    position: absolute;
    height: 100vh;
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: start;
}
